html body{
    background-color: #262626;
    font-family: sans-serif;

}
#show{
    padding-left: 10px;
    padding-top: 10px;
}
#remove{
    padding-right: 10px;
    padding-top: 10px;
}
#navTop{
    width: 100%;
}
#navMenu{
    padding-top: 100px;
    width: 100%;
}
#navMenu p{
    font-size: 14px;
    text-align: sans-serif;
    padding: 25px;
    background-color: #383838;
}
#navMenu p:hover{
    text-align: sans-serif;
    padding: 25px;
    background-color: #262626;
}
.notification-bar {
    margin-left: 20px;
    top:0;
    left:-88%;
    position: relative;
    background: #383838;
    border-radius: 5px;
    padding: 5px;
    border-bottom-width: 2.5px !important;
    font-family: monospace;
    text-align: center;
    height: 100%;
    width: 80%;
    color: white;
    position: absolute;
}

.notification-bar.enabled {
    left:-20px;
}

.animatedCSS {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#show{
    float: left;
}
#remove{
    float: right;
}
#container{
    padding-top: 150px;
}
#scan{
    color: white;
    padding: 25px;
    font-size: 40px;
    border: 5px solid white;
    text-align: center;
}
#scan:hover{
    background-color: #383838;
    color: white;
    padding: 25px;
    font-size: 40px;
    border: 5px solid #383838;
    text-align: center;
}
#reader{
    width:100%;
    height:400px
}


.testhoi {
    left:-20px;
}


#kleurbitch{


    text-align: center;
    color: white;
    background-color: #262626;
}
#kleurbitch.enabled{

    margin-top:1px;
    background-color: #ffff00;

}
#kleurbitch p{
    text-align: center;
    font-size: 25px;
    width: 70%;
    margin-left:15%;
}
#kleurbitch img{

    width:500px;
    height:400px;
}



