html body{
    height: 100%;
    width: 100%;
    background-color: #262626;

}
#show{
    padding-left: 20px;
    padding-top: 20px;
}
#remove{
    padding-right: 10px;
    padding-top: 10px;
}
.notification-bar {
    top:0;
    left:-88%;
    position: relative;
    background: #383838;
    border-radius: 5px;
    padding: 5px;
    border-bottom-width: 2.5px !important;
    font-family: monospace;
    text-align: center;
    height: 100%;
    width: 80%;
    color: white;
    position: absolute;
}

.notification-bar.enabled {
    left:-20px;
}

.animatedCSS {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#show{
    float: left;
}
#remove{
    float: right;
}

